{% extends "layout.html" %}

{% block content %}
<h1>Bienvenue sur la marketplace !</h1>

<h2> This is env var TEST : {{ test }</h2>

<button type="button" class="btn btn-success"><a href="#">Je commande</a></button>
{% endblock %}
